h1{
background: gray;
}
.container {
  position: relative;
  text-align: center;
  color: rgba( 255, 255, 255, 0.5);
  font-size: 100px;
  font-weight:bold;
}
.center-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}