.bottom{
background: rgba(100, 100, 100, 0.5);
}
.title{
background: rgba(100, 100, 100, 0.5);
}
.contact{
background: rgba(14,100,255,0.5);
border-radius: 20px;
color: white;
}
.notify{
background: rgba(100, 100, 100, 0.5);
transform: translate(0%, -10%);
color: white;
}
.notify-twitter{
transform: translate(0%,-80%);
}
.notify-image{
transform: translate(20%,10%);
}
.container {
  position: relative;
  text-align: center;
  color: rgba( 255, 255, 255, 0.5);
  font-size: 100px;
  font-weight:bold;
}
.center-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}