.cookie{
    color: rgba(255,255,255,0.7);
    font-style: italic;
    text-align: center;
}
body {
    background-image: url('/resources/cookie clicker background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}