body {
    background-image: url('/resources/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.qr{
    text-align: center;
    color: white;
}